!*.*
!/**/
#*
*
*#
*.bak
*.qws
*.rpt
*~
.*
Proj/*.save
Proj/*.txt
Proj/*.xxx
Proj/.qsys_edit/*
Proj/db/*
Proj/Encoder.out.sdc
Proj/greybox_tmp/*
Proj/incremental_db/*
Proj/output_files/*
Proj/simulation/*
Save/*
Sim/*.mpf
Sim/*.mti
Sim/*.vstf
Sim/*.wlf
Sim/msim_transcript
Sim/transcript
Sim/wlf*
Sim/work/*
VHDL/*.ddb
VHDL/*.qar
VHDL/*.qarlog
VHDL/*.qip
VHDL/greybox_tmp/*
