*
!/**/
!*.*
*~
*.bak
.*
#*
*#
VHDL/*.qar
VHDL/*.qarlog
VHDL/*.ddb
VHDL/*.qip
VHDL/greybox_tmp/*
Sim/work/*
Sim/*.vstf
Sim/*.mti
Sim/*.mpf
Sim/*.wlf
Sim/*.vhd
Proj/*.save
Proj/*.xxx
Proj/*.txt
Proj/db/*
Proj/greybox_tmp/*
Proj/incremental_db/*
Proj/output_files/*
Proj/simulation/*
Proj/.qsys_edit/*
Proj/Encoder.out.sdc
*.rpt
Sim/msim_transcript
Sim/transcript
Sim/wlftnb77ti
*.qws
Save/*
